@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);



body {
  background-color: rgb(143, 203, 255);
  font-family: "Inter", sans-serif;
  color: black;
}

/* design button */

button {
  background-color: white;
  font-family: "Inter", sans-serif;
  width: 100px;
  height: 40px;
  border: 1px solid rgb(183, 179, 179);
  border-radius: 5px;
  padding: 0;
}

.fa-chevron-down {
  margin-left: 10px;
}

/* design dropdown */

ul {
  background-color: white;
  width: 250px;
  border: 1px solid rgb(183, 179, 179);
  border-radius: 7px;
  margin: 5px 0 0 0;
  padding-left: 0px;
}

li {
  list-style: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
}

li i {
  margin-right: 10px;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

li:hover i {
  color: white;
}

li:hover a {
  color: white;
}

.list-dropdown:hover {
  background-color: grey;
}

/* undisplay dropdown menu */
.dropdown {
  transform: translateY(0.5rem);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease
}

/* rotate arrow */
.arrow {
  transform: rotate(180deg);
  transition: 0.2s ease;
}

/* display dropdown menu */
.show {
  transform: translateY(0rem);
  visibility: visible;
  opacity: 1;
  transition: 1s ease;
}
